table, th, td{
    border:1px solid black;
    /* border-collapse: collapse: */
    padding: 20px;
    text-align: centre;
    font-size: 20px;
    border-radius: 50px;
    margin-left: 200px;
    margin-top: 100px;

}
table{
    width: 60%;

}
th{
    background-color: rgb(155, 148, 138);

}
tr:nth-child(even){
    background-color: rgb(226, 43, 202);

}
tr:nth-child(odd){
    background-color: rgb(75, 42, 165);

}
td:hover{
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

body{
    background-image: url("/image/journey-3983404__340.jpg")
    background-size: cover;
}