<nav class="navbar navbar-expand-lg  navbar-warning bg-warning ">
    <a class="navbar-brand" routerLink="form"><b>Tech Elevate</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="formnavbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home"><b>Home</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cars"><b>Cars</b></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/bikes"><b>Bikes</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/movies"><b>Movies</b></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/laptops"><b>Laptops</b></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/mobiles"><b>Mobiles</b></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/comment-details"><b>Comment-Details</b></a>
              </li>
          </ul>
    </div>
  </nav>