#head{
    background-image: url("/image/red-2605450__340.jpg");
    background-size: cover;
}

input[type = "text"]{
    margin-left : 300px;
    width : 700px;
    height :50px;
    border: 1px solid black;
    border-radius: 10px;
    text-align :center;
    
}

h1{
    color : white;
    text-align : center;
}
h3{
    color : white;
    text-align : center;
}
h5{
    color : white;
    text-align : center;
}

a{
color : wheat;
font-size: 22px;
font-family: cursive;
}

input[type=submit]{
    padding: 10px 10px;
    background-color: wheat;
    color: black;
    font-family: cursive;
    font-size: 15px;
}

select{
    width : 20px;
    height : 20px;
    background-color: wheat;
}

label{
    color : wheat;
    font-size : 20px;
    font-family : cursive;
}

img{
    width : 290px;
    height : 350px;
    border : 2px solid khaki;
    border-radius: 20px;
    margin-left : 10px;
    margin-top : 10px;
}
img:hover{
    transform : scale(1.1,1.1);
}
#footer{
    text-align: center;
}
p{
    font-size: 20px;
}