<!-- <div class="container col-md-8 offset-2 card card-body width-20px" *ngFor="let new of news">
    <img src="{{new.urlToImage}}" alt="">
    <h1>{{new.title}}</h1>
    </div> -->



    <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          India
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/home">India</a>
          <a class="dropdown-item" routerLink="/usa">United States</a>
          <a class="dropdown-item" routerLink="/dubai">Dubai</a>
          <a class="dropdown-item" routerLink="/russia">Russia</a>
          <a class="dropdown-item" routerLink="/china">China</a>
        </div>
      </div>
    
    <div class="card-columns">
        <div class="card" *ngFor="let new of news">
          <img src="{{new.urlToImage}}" class="card-img-top" alt="...">
          <div class="card-body">
            <img src="" alt="">
            <h1>{{new.title}}</h1>
            
          </div>
        </div>
      </div>