<nav class="navbar navbar-expand-lg  navbar-dark bg-dark ">
    <a class="navbar-brand" routerLink="form">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="formnavbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="form1">Form1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="form2">Form2</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="form3">Form3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="form4">Form4</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="form5">Form5</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="parent">Parent</a>
              </li>
          </ul>
    </div>
  </nav>