<div class="dropdown mt-4 mb-2">
    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      National Geographic
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="/bbc">BBC News</a>
        <a class="dropdown-item" routerLink="/times">Times of India</a>
        <a class="dropdown-item" routerLink="/fox">Fox News</a>
        <a class="dropdown-item" routerLink="/espn">ESPN</a>
        <a class="dropdown-item" routerLink="/news24">News24</a>
        <a class="dropdown-item" routerLink="/thehindu">The Hindu</a>
        <a class="dropdown-item" routerLink="/usatoday">USA Today</a>
        <a class="dropdown-item" routerLink="/national">National Geographic</a>
        <a class="dropdown-item" routerLink="/mirror">Mirror</a>
    </div>
  </div>

<div class="card-columns">
    <div class="card" *ngFor="let new of nationalnews">
      <div class="card-body">
        <img src="" alt="">
        <a href="{{new.url}}"><img src="{{new.urlToImage}}" class="card-img-top" alt="..."></a>
        <h1>{{new.title}}</h1>
        
      </div>
    </div>
  </div>