<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: black">
    <div class="container">
      <h1 class="center">Welcome to Supermarket</h1>
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Stock Management System</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Here you will get to know about product details and you all kind of products are available 
          with valide date and never you will get any shortage</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold"> All Product</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a
            href="https://www.google.com/search?q=groceries&rlz=1C1CHBF_enIN870IN870&oq=grosser&aqs=chrome.7.69i57j0l7.34867j1j7&sourceid=chrome&ie=UTF-8">Grosseries</a>
        </p>
        <p>
          <a
            href="https://www.google.com/search?q=cosmetics+online&rlz=1C1CHBF_enIN870IN870&oq=comectics&aqs=chrome.2.69i57j0l7.16780j0j9&sourceid=chrome&ie=UTF-8">Cosmectices</a>
        </p>
        <p>
          <a
            href="https://www.google.com/search?q=stationery&rlz=1C1CHBF_enIN870IN870&oq=stationary&aqs=chrome.1.69i57j0l7.5227j0j9&sourceid=chrome&ie=UTF-8">Stationary</a>
        </p>
        <p>
          <a
            href="https://www.google.com/search?rlz=1C1CHBF_enIN870IN870&sxsrf=ACYBGNSsHCBzKnCezhw48bv6I2Qy9NpE8w%3A1576836613923&ei=BZ78Xa-FOKeG4-EPzM-CuAE&q=snacks%5C&oq=snacks%5C&gs_l=psy-ab.3..0l2j0i67j0l7.24891.29002..29026...1.2..4.404.2936.0j1j7j2j1......0....1..gws-wiz.....10..0i71j35i39j0i20i263j0i131j35i362i39j0i273.u1WiuXgNKv0&ved=0ahUKEwjvm_eR_sPmAhUnwzgGHcynABcQ4dUDCAs&uact=5">Snacks</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Website links </h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a
            href="https://www.google.com/search?q=gmail&rlz=1C1CHBF_enIN870IN870&oq=gmail&aqs=chrome..69i57j69i59l2j69i61l2j69i60l2.1181j0j7&sourceid=chrome&ie=UTF-8">Mail
            us</a>
        </p>
        <p>
          <a
            href="https://www.google.com/search?q=product+reates&rlz=1C1CHBF_enIN870IN870&oq=product+reates&aqs=chrome..69i57j0l7.5695j0j7&sourceid=chrome&ie=UTF-8">Product
            Rates</a>
        </p>
        <p>
          <a
            href="https://www.google.com/search?rlz=1C1CHBF_enIN870IN870&sxsrf=ACYBGNRtjXHX29EPPe6E1LJLXOz99b68Ow%3A1576835984554&ei=kJv8Xam5IcXc9QOdsbyYDg&q=new+launches&oq=new+launches&gs_l=psy-ab.3..0i273j0i67j0i131j0l7.21637.26852..27455...1.2..0.1299.3590.4-1j0j1j2......0....1..gws-wiz.....10..0i71j35i362i39j0i20i263.gGBivYpWrbg&ved=0ahUKEwipwenl-8PmAhVFbn0KHZ0YD-MQ4dUDCAs&uact=5">New
            Launches</a>
        </p>
        <p>
          <a href="https://www.website.com/contact-us/">Any shopping related Query Ask here...</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact-Details</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i>India , Bangalore</p>
        <p>
          <i class="fas fa-home mr-3"></i>Yalahanka bsf</p>
        <p>
          <i class="fas fa-envelope mr-3"></i>stockManagement01@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i>12346643</p>
        <p>
          <i class="fas fa-print mr-3"></i>4321567</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
</footer>